ARM_Template/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "airportprojectdf"
        },
        "ls_Airport_datakale_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_Airport_datakale'"
        },
        "ls_Airport_datakale_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://airportfilestorage.dfs.core.windows.net/"
        },
        "trigger_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/a6a75e4e-2ae1-4e69-a79c-7855864d2a67/resourceGroups/ADF_project/providers/Microsoft.Storage/storageAccounts/airportfilestorage"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/DS_Airport_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Airport_datakale",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().FolderName",
                            "type": "Expression"
                        },
                        "fileSystem": "airport-landing"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Airport_datakale')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Airport_Destination')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Airport_datakale",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().FolderName",
                            "type": "Expression"
                        },
                        "fileSystem": "airport-processed"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Airport_datakale')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Airport_Metadata')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Airport_datakale",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@dataset().FolderName",
                            "type": "Expression"
                        },
                        "fileSystem": "airport-landing"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Airport_datakale')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Airport_Root')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Airport_datakale",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileSystem": "airport-landing"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Airport_datakale')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Airport_Archive')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Airport_datakale",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().FolderName",
                            "type": "Expression"
                        },
                        "fileSystem": "airport-archive"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Airport_datakale')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Airport_Error')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Airport_datakale",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().FolderName",
                            "type": "Expression"
                        },
                        "fileSystem": "airport-error"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Airport_datakale')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_Airport_datakale')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_Airport_datakale_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_Airport_datakale_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Airport_Master')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "GM_GetFolders",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_Airport_Root",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "BinaryReadSettings"
                            }
                        }
                    },
                    {
                        "name": "FE_ProcessFolders",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "GM_GetFolders",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GM_GetFolders').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Execute Pipeline1",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "PL_Copy_Airport_Files",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "FolderName": {
                                                "value": "@item().name",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "CurrentFolder": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-06-25T09:14:42Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Airport_Root')]",
                "[concat(variables('factoryId'), '/pipelines/PL_Copy_Airport_Files')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Copy_Airport_Files')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "GM_GetFiles",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "DS_Airport_Metadata",
                                "type": "DatasetReference",
                                "parameters": {
                                    "FolderName": {
                                        "value": "@pipeline().parameters.FolderName",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "BinaryReadSettings"
                            }
                        }
                    },
                    {
                        "name": "FE_ProcessFiles",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "GM_GetFiles",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GM_GetFiles').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "GM_FileValidation",
                                    "type": "GetMetadata",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataset": {
                                            "referenceName": "DS_Airport_Source",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "FolderName": {
                                                    "value": "@pipeline().parameters.FolderName",
                                                    "type": "Expression"
                                                },
                                                "FileName": {
                                                    "value": "@item().name",
                                                    "type": "Expression"
                                                }
                                            }
                                        },
                                        "fieldList": [
                                            "exists",
                                            "size"
                                        ],
                                        "storeSettings": {
                                            "type": "AzureBlobFSReadSettings",
                                            "recursive": true,
                                            "enablePartitionDiscovery": false
                                        },
                                        "formatSettings": {
                                            "type": "DelimitedTextReadSettings"
                                        }
                                    }
                                },
                                {
                                    "name": "IF_ValidFile",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "GM_FileValidation",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@greater(activity('GM_FileValidation').output.size,1024)",
                                            "type": "Expression"
                                        },
                                        "ifFalseActivities": [
                                            {
                                                "name": "Copy_To_Error",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "DelimitedTextSource",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSReadSettings",
                                                            "recursive": true,
                                                            "enablePartitionDiscovery": false
                                                        },
                                                        "formatSettings": {
                                                            "type": "DelimitedTextReadSettings"
                                                        }
                                                    },
                                                    "sink": {
                                                        "type": "DelimitedTextSink",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSWriteSettings"
                                                        },
                                                        "formatSettings": {
                                                            "type": "DelimitedTextWriteSettings",
                                                            "quoteAllText": true,
                                                            "fileExtension": ".txt"
                                                        }
                                                    },
                                                    "enableStaging": false,
                                                    "translator": {
                                                        "type": "TabularTranslator",
                                                        "typeConversion": true,
                                                        "typeConversionSettings": {
                                                            "allowDataTruncation": true,
                                                            "treatBooleanAsNumber": false
                                                        }
                                                    }
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_Airport_Source",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Airport_Error",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "Delete_Source_File_Error",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "Copy_To_Error",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_Airport_Source",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    },
                                                    "enableLogging": false,
                                                    "storeSettings": {
                                                        "type": "AzureBlobFSReadSettings",
                                                        "recursive": false,
                                                        "enablePartitionDiscovery": false
                                                    }
                                                }
                                            }
                                        ],
                                        "ifTrueActivities": [
                                            {
                                                "name": "Copy_Airport_File",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "DelimitedTextSource",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSReadSettings",
                                                            "recursive": true,
                                                            "enablePartitionDiscovery": false
                                                        },
                                                        "formatSettings": {
                                                            "type": "DelimitedTextReadSettings"
                                                        }
                                                    },
                                                    "sink": {
                                                        "type": "DelimitedTextSink",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSWriteSettings"
                                                        },
                                                        "formatSettings": {
                                                            "type": "DelimitedTextWriteSettings",
                                                            "quoteAllText": true,
                                                            "fileExtension": ".txt"
                                                        }
                                                    },
                                                    "enableStaging": false,
                                                    "translator": {
                                                        "type": "TabularTranslator",
                                                        "typeConversion": true,
                                                        "typeConversionSettings": {
                                                            "allowDataTruncation": true,
                                                            "treatBooleanAsNumber": false
                                                        }
                                                    }
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_Airport_Source",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Airport_Destination",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "Copy_To_Archive",
                                                "type": "Copy",
                                                "dependsOn": [
                                                    {
                                                        "activity": "Copy_Airport_File",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "DelimitedTextSource",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSReadSettings",
                                                            "recursive": true,
                                                            "enablePartitionDiscovery": false
                                                        },
                                                        "formatSettings": {
                                                            "type": "DelimitedTextReadSettings"
                                                        }
                                                    },
                                                    "sink": {
                                                        "type": "DelimitedTextSink",
                                                        "storeSettings": {
                                                            "type": "AzureBlobFSWriteSettings"
                                                        },
                                                        "formatSettings": {
                                                            "type": "DelimitedTextWriteSettings",
                                                            "quoteAllText": true,
                                                            "fileExtension": ".txt"
                                                        }
                                                    },
                                                    "enableStaging": false,
                                                    "translator": {
                                                        "type": "TabularTranslator",
                                                        "typeConversion": true,
                                                        "typeConversionSettings": {
                                                            "allowDataTruncation": true,
                                                            "treatBooleanAsNumber": false
                                                        }
                                                    }
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_Airport_Source",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_Airport_Archive",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "Delete_Source_File",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "Copy_To_Archive",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "0.12:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "DS_Airport_Source",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "FolderName": {
                                                                "value": "@pipeline().parameters.FolderName",
                                                                "type": "Expression"
                                                            },
                                                            "FileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    },
                                                    "enableLogging": false,
                                                    "storeSettings": {
                                                        "type": "AzureBlobFSReadSettings",
                                                        "recursive": false,
                                                        "enablePartitionDiscovery": false
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "FolderName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-06-25T13:06:38Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Airport_Metadata')]",
                "[concat(variables('factoryId'), '/datasets/DS_Airport_Source')]",
                "[concat(variables('factoryId'), '/datasets/DS_Airport_Error')]",
                "[concat(variables('factoryId'), '/datasets/DS_Airport_Destination')]",
                "[concat(variables('factoryId'), '/datasets/DS_Airport_Archive')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Airport_Master",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/airport-landing/blobs/",
                    "blobPathEndsWith": ".csv",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('trigger_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Airport_Master')]"
            ]
        }
    ]
}